.md-tabs {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
  display: block;
  line-height: 1.3;
  overflow: auto;
  width: 100%;
  z-index: 3;
  box-shadow:
    0 0 0.2rem #0000001a,
    0 0.2rem 0.4rem #0003;
  transition:
    transform 0.25s cubic-bezier(0.1, 0.7, 0.1, 1),
    box-shadow 0.25s;
}

.md-grid {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  max-width: 100rem;
}
